html, body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: #222;
}

.single-task {
    min-height: 75px;
    padding: 5px;
    background: yellow;
    position: relative;
    margin-bottom: 10px;
}
.single-task span{
    margin-left: auto;
}

.task-control-panel {
    width: 100%;
    min-height: 40px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
}

.color-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.inner-textarea {
    resize: none;
    position: absolute;
    background: #ddd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
    top: 0;
    left: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    padding: 5px;
}
h4{
    margin: 15px 0;
   text-align: center;
   color: red;
   font-size: 110%;
}
i{
    background: yellow;
    border-radius: 1px;
    padding: 12px;
}
input:focus{
    box-shadow: none !important;
}